# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
ENV/
.idea/

# Models / large files
*.bin
*.pt
*.ckpt
*.safetensors

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
